*.exe
*.dll
*.suo
*.user
*.licx

Config/bin/
Config/obj/

ConfigLibrary/bin/
ConfigLibrary/obj/

DomainCommonSE/bin/
DomainCommonSE/obj/

DomainCommonSE.MsSqlCe40/bin/
DomainCommonSE.MsSqlCe40/obj/

DomainCommonSE.MsSqlCe40.Config/bin/
DomainCommonSE.MsSqlCe40.Config/obj/

DomainCommonSE.ODAC/
DomainCommonSE.Oracle/
DomainCommonSE.Oracle.Config/
DomainCommonSEAddin/

Services/ServiceConfig/bin/
Services/ServiceConfig/obj/

Services/WCFLockService/bin/
Services/WCFLockService/obj/

ObjectDbAddin/
TestConsoleApplication/
TestPlugin/
TestProject/

Release/